@using Lektion_10_EntityFramework.Models;
@model Bil

<h3>
	Register Bil
</h3>
@using (Html.BeginForm())
{
	<p>
		@Html.Label("Id") <br />
		@Html.TextBox("Id")
	</p>
	<p>
		@Html.Label("Navn") <br />
		@Html.TextBox("Navn")
	</p>
	<p>
		@Html.Label("Vaegt") <br />
		@Html.TextBox("Vaegt")
	</p>
	<p>
		<input type="submit" value="Register Bil">
	</p>
}

<h3>
	Registeret Biler
</h3>
<ul>
	@foreach (var bil in ViewBag.Biler)
	{
		<li>
			@bil.ToString()
		</li>
	}
</ul>