@model Lektion_7_HTML_Helpers.Models.ParkingTicketMachine 
@{ 
	ViewBag.Title = "Parkin Ticket"; 
	Layout = null; 
} 

<div>
	<h1>
		Parking Ticket Machine
	</h1>
	@using (Html.BeginForm())
	{
		@Html.LabelFor(Model => Model.TimeNow)
		@Html.DisplayFor(Model => Model.TimeNow)
		<br />
		@Html.LabelFor(Model => Model.PaidUntil)
		@Html.DisplayFor(Model => Model.PaidUntil)
		<br />
		@Html.LabelFor(Model => Model.AmountInserted)
		@Html.DisplayFor(Model => Model.AmountInserted)
		<br />
		<br />
		@if (Model.CoinsToInsert != null)
		{
			@Html.LabelFor(Model => Model.CoinsToInsert)
			@foreach (var coin in Model.CoinsToInsert)
			{
				<input type="submit" name="@coin" value="@coin kr" />
			}
		}
		<br />
		<br />
		<span>
			<input type="submit" name="confirm" value="Confirm" />
			<input type="submit" name="cancel" "value="Cancel" />
		</span>
	}
</div>